
header {
  color: rgba(0,51,153,0.8);
  text-align: left;
  font-family: 'IBM Plex Sans', sans-serif;
  background-image: url("../images/tower_hamlets.jpg");
  background-size: cover;
}

#nav_bar {
  padding: 50px;
  background:rgba(0,51,153,0.8) ;
  text-align:center;
  font-size: 25px;
}

ul li.name {
  display: block;
  background: white;
  text-align: left;
}


ul {
  padding: 50px;
  background:rgba(0,51,153,0.8) ;
  text-align:center;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}


input {
  border: 10;
  padding: 10px;
  display: block;
}

input[type="submit"] {
  background: green;
  color: white;


a {
  color: white;
}
