
header {
  color: rgba(0,51,153,0.8);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: rgba(0,102,204,0.2);
}

body{
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

ul {
  padding: 10px;
  background: rgba(0, 128, 0, 0.8);
  text-align:center;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

#wards {
  background: white;
  text-align: left;
}

li.ward {
  display: block;
}

a {
  color: white;
}

input {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: block;
  border: 0;
  padding: 10px;
  font-size: 18px;
}

input[type="submit"] {
  background: green;
  color: white;
}
